<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAelU-txvJ8C2q-ZGdF73irn3h1jjcYG6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>182119041017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rafay_portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-f4698</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-f4698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182119041017:ios:86991cc4398ecb7c1f9f28</string>
</dict>
</plist>